<%= stylesheet_link_tag 'danhmucsanphams', media: 'all' %>
<div class="danhmuc-form-container">
  <div class="header-container">
    <h2>Thêm Danh Mục Mới</h2>
  </div>

  <%= render 'form' %>
</div> 