<h1>Đặt Lại Mật Khẩu</h1>
<p>Xin chào <%= @user.username %>,</p>
<p>Bạn không chia sẻ đường link này với bất kỳ ai</p>
<p>Nhấn vào liên kết dưới đây để đặt lại mật khẩu của bạn:</p>
<p><%= link_to 'Đặt lại mật khẩu', edit_password_reset_url(token: @user.password_reset_token) %></p>
<p>Link này sẽ hết hạn sau 1 phút.</p>
<p>Nếu bạn không yêu cầu đặt lại mật khẩu, vui lòng bỏ qua email này.</p>